<!DOCTYPE html>
<html>
    <head>
        <title>#Фиксирую</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/forAll.css">
        <link rel="stylesheet" href="../styles/accountPageStyle.css">
    </head>
    <body>

        <header>
            <a href="greetingsPage.html" id="logo">
                <div>
                    <h1>#Фиксирую</h1>
                </div>
            </a>
            <a href="accountPage.html" id="account">
                <img src="../img/user-profile-icon-vector.svg">
            </a>
        </header>


        <main>
            <div id="accountInfo">
                <div class="infoBlock">
                    <h1>Логин</h1>
                    <h1 id="userLogin"></h1>
                </div>
                <div class="infoBlock">
                    <h1>Отображаемое имя</h1>
                    <h1 id="username"></h1>
                </div>
                    
            </div>
            <div class="buttonStorage">
                <a href="queueList.html"  class="myBtn">
                    <div>Очереди</div>
                </a>
                <button class="myBtn" id="signOut">Выйти</button>
            </div>
        </main>


        <footer>

        </footer>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="../scripts/toBackScript.js"></script>
        <script src="../scripts/accountPageScript.js"></script>
    </body>
</html>