<!DOCTYPE html>
<html>
    <head>
        <title>#Фиксирую</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/forAll.css">
        <link rel="stylesheet" href="../styles/greetingsStyle.css">
    </head>
    <body>
        <header>
            <a href="greetingsPage.html" id="logo">
                <div>
                    <h1>#Фиксирую</h1>
                </div>
            </a>
            <a href="accountPage.html" id="account">
                <img src="../img/user-profile-icon-vector.svg">
            </a>
        </header>
        <main>
            <div id="greetings">
                    <h1>Добро Пожаловать в <b>#</b>Фиксирую</h1>
                    <p>
                        <span>Для начала работы вам необходимо создать свой профиль</span>
                        <br>
                        <br>
                        <span>Таким образом вы сможете вставать в или создавать очереди</span>
                        <br>
                        <br>
                        <span>Если вам лень, то просто нажимайте на огромную кнопку внизу, возможно она приведет вас куда надо</span>
                    </p>
            </div>
            <div id="buttons">
                <a href="queueList.html" class="button myBtn" id="goToQueue">#Зафиксироваться</a>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>