<!DOCTYPE html>
<html>
    <head>
        <title>#Фиксирую</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/forAll.css">
        <link rel="stylesheet" href="../styles/queueSettingsStyle.css">
    </head>
    <body>

        <header>
            <a href="greetingsPage.html" id="logo">
                <div>
                    <h1>#Фиксирую</h1>
                </div>
            </a>
            <a href="accountPage.html" id="account">
                <img src="../img/user-profile-icon-vector.svg">
            </a>
        </header>


        <main>
            <div class="blocks">
                <div id="leftSide">
                    <h1>Участники</h1>
                    <ul id="membersList">
                    </ul>
                </div>
                <div id="rightSide">
                    <h1>Настройки</h1>
                    <ul class="settingsList">
                        
                    </ul>
                </div>
            </div>
            <div class="controlButtons">
                <button id="enterQueue" class="myBtn">Встать в очередь</button>
                <button id="leaveQueue" class="myBtn">Выйти из очереди</button>
                <button id="freezeSelf" class="myBtn">Заморозиться</button>
                <button id="popFirstOne" class="myBtn">Выкинуть первого</button>
            </div>
            <div class="navButtons">
                <a href="queueList.html"  class="myBtn">
                    <div>Назад</div>
                </a>
            </div>
        </main>
        <footer>

        </footer>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="../scripts/toBackScript.js"></script>
        <script src="../scripts/queueSettingsScript.js"></script>
    </body>
</html>