<!DOCTYPE html>
<html>
    <head>
        <title>#Фиксирую</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/forAll.css">
        <link rel="stylesheet" href="../styles/queueListStyle.less">
    </head>
    <body>
        <header>
            <a href="greetingsPage.html" id="logo">
                <div>
                    <h1>#Фиксирую</h1>
                </div>
            </a>
            <div id="account">
                <img src="../img/user-profile-icon-vector.svg">
            </div>
        </header>
        <main>
            
        </main>
        <footer>

        </footer>
    </body>
</html>