<!DOCTYPE html>
<html>
    <head>
        <title>#Фиксирую</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/forAll.css">
        <link rel="stylesheet" href="../styles/queueSettingsStyle.css">
    </head>
    <body>

        <header>
            <a href="greetingsPage.html" id="logo">
                <div>
                    <h1>#Фиксирую</h1>
                </div>
            </a>
            <div id="account">
                <img src="../img/user-profile-icon-vector.svg">
            </div>
        </header>


        <main>
            <div id="leftSide">
                <h1>Участники</h1>
                <ul class="membersList">
                    <li>
                        <h2>1</h2>
                        <h3>Akakiy Akakievich</h3>
                    </li>
                    <li>
                        <h2>2</h2>
                        <h3>Peter Bezrukov</h3>
                    </li>
                </ul>
            </div>
            <div id="rightSide">
                <h1>Настройки</h1>
                <ul class="settingsList">
                    
                </ul>
            </div>
        </main>
        <footer>

        </footer>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="../scripts/queueSettingsScript.js"></script>
    </body>
</html>