<!DOCTYPE html>
<html>
    <head>
        <title>#Фиксирую</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/forAll.css">
        <link rel="stylesheet" href="../styles/queueListStyle.css">
    </head>
    <body>
        <header>
            <a href="greetingsPage.html" id="logo">
                <div>
                    <h1>#Фиксирую</h1>
                </div>
            </a>
            <div id="account">
                <img src="../img/user-profile-icon-vector.svg">
            </div>
        </header>
        <main>
            <div id="listContainer">
                <div class="queueBlock">
                    <h1>Queue name</h1>
                    <div class="description">
                        <b class="membersNumber">23</b>
                        <p class="queueDesciption">Lorem Ipsum jhghgh gdgdg jhkjh gdsggd jjhg j hgdgfd idusajhf iudssahhd sjashgd</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="../scripts/queueListScript.js"></script>
    </body>
</html>