main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #greetings {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #greetings h1 {
  width: 90%;
  text-align: center;
  font-size: 3em;
  color: var(--main-color);
  text-shadow: 1px 1px 2px #2a2a2a;
  margin: 0;
  padding: 0;
}
main #greetings p {
  max-width: 640px;
  width: 90%;
  font-size: large;
  color: var(--main-color);
}
main #buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
