.buttonsPlace .addQueueButton {
  margin-left: 20px;
}
main {
  padding-top: 40px;
}
#listContainer {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}
#listContainer .queueBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--back-additional-color);
  box-shadow: 0px 0px 20px -5px #2a2a2a;
  border-radius: 20px;
  margin-top: 20px;
}
#listContainer .queueBlock:first-child {
  margin-top: 0;
}
#listContainer .queueBlock .textWrapper {
  margin: 10px;
  color: var(--main-color);
}
#listContainer .queueBlock .textWrapper > h1 {
  display: inline;
  margin-block-start: 0px;
  font-size: 2.2em;
}
#listContainer .queueBlock .textWrapper > b {
  font-size: 1.3em;
  margin-left: 40px;
}
#listContainer .queueBlock .textWrapper > p {
  font-size: 1.2em;
}
